*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  /* #2 Оно тебе надо - Главная */
  width: 1100px;
  height: 3028px;
  background: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  height: 100%;
  /* указал высоту 100% по рекомендации 
  "Шаг 6. Выполните детальную стилизацию секции с карточками"  */
}

img {
  width: 100%;
}